/* Variables */

$color-first: white;
$color-second: black;
$color-third: gold;
$color-fourth: hsl(0, 0%, 80%);

$font-main: "Poppins", sans-serif;
$font-second: "Dancing Script", cursive;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-main;
  color: black;
}

/* Navigation */

.navigation {
  padding: 16px 0;
  background: inherit;
}

.navigation ul {
  padding: 0;
  margin: 40px 0;
  list-style-type: none;
  text-align: right;
}

.navigation li {
  display: inline-block;
  padding: 0 20px;
}

.navigation a {
  text-decoration: none;
}

.logo {
  font-size: 30px;
  color: $color-third;
  font-family: $font-second;
  font-weight: 800;
}