/* Variables */

$color-first: white;
$color-second: black;
$color-third: gold;
$color-fourth: hsl(0, 0%, 50%);
$color-fifth: hsl(0, 0%, 96%);

$font-main: "Poppins", sans-serif;
$font-second: "Dancing Script", cursive;

$transition: all 1s;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-main;
  color: black;
}

.row {
  
}

/* Navigation */

.navigation {
  padding: 16px 0;
  background: inherit;
}

.navigation ul {
  padding: 0;
  margin: 40px 0;
  list-style-type: none;
  text-align: right;
}

.navigation li {
  display: inline-block;
  padding: 0 20px;
}

.navigation a {
  text-decoration: none;
  color: $color-first;
}

.logo {
  font-size: 30px;
  color: $color-third;
  font-family: $font-second;
  font-weight: 800;
}

/* Header */

.splash {
  min-height: 500px;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_960_720.jpg");
  background-size: 100%;
  color: $color-first;
  text-align: center;
}

.page-title {
  font-family: $font-second;
  font-size: 50px;
  margin: 30px 0 0 0;
}

.page-subtitle {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.btn-one {
  padding: 20px;
  font-size: 16px;
  margin-bottom: 150px;
  margin-top: 30px;
  background-color: $color-third;
  color: $color-first;
  border-radius: 8px;
  border: none; 
}

.btn-one:hover {
  cursor: pointer;
}

/* Main Sections */

.main {
  text-align: center;
  padding: 100px 0;
}

.main i {
  font-size: 50px;
  background-color: $color-first;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: $color-third;
  outline: 3px solid $color-third;
  outline-offset: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0;
}

.section-description {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 50px;
  color: $color-fourth;
}

.section-subtitle {
  font-size: 20px;
  margin: 0;
}

.section-text {
  color: $color-fourth;
  margin-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

/* Portfolio section */

.portfolio {
  background-color: $color-fifth;
}

.portfolio-box {
  background-color: $color-first;
  min-height: 300px;
  margin-bottom: 50px;
}

.portfolio-img {
  height: 100%;
  width: 100%;
}

.portfolio-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;  
  margin-bottom: 20px;
}

/* Footer */

.footer {
  margin: 30px 0;
}

.footer ul {
  padding: 0;
}

.footer li {
  display: inline-block;
  margin-right: 10px;
  font-size: 0;
}

.social-media-icon {
  font-size: 20px;
  background: $color-second;
  width: 40px;
  height: 40px;
  color: $color-first;
  border-radius: 50%;
  transition: $transition;
  text-align: center;
  padding: 10px;
}

.footer i:hover {
  transform: scale(1.2);
}

/* Media */

@media (max-width: 500px) {
  
  .page-subtitle {
    font-size: 50px;
  }
  
}